<p>Edit</p>

<div id="edit_post_list">
</div>

<script>

var Editor = new Vue({
  el: '#edit_post_list',
  template: '<div v-bind:style="constyle" >'+
        '<div>fileName: {{ fileName }}</div>'+
        '<div>Posts: </div>'+
        '<div v-for="(post, index) in posts"><p v-on:click="onPostLink" >{{post}}</p></div>'+
        '<textarea v-on:keyup="onTextChange" >{{ text }}</textarea>' +
        '<input type="button" value="save" v-on:click="saveFile">'+
    '</div>',
  data : {
     constyle:'background:red;width:200px;padding:5px;',
     posts : [],
     text: 'hi there',
     fileName: 'new_post.md'
  },
  methods:{
  
     // get list of file names
     getList : function(){
        this.$http.get('post_list')
        .then(function(res){
          this.$data.posts = res.body.fileNames;
        });
     },
     
     onTextChange : function(e){
         this.$data.text = e.target.value;
     },
     
     // what to do when a post link is clicked
     onPostLink : function(e){
        var fileName = e.target.innerText,
        url = '/post/' + fileName;
        this.$http.get(url)
        .then(function(res){
           console.log('yes');
           this.$data.text = res.body;
           this.$data.fileName = fileName;
        });
     },
     
     saveFile: function(e){
         console.log('save file');
         console.log(this.$data.text);
         
         
         this.$http.post('/post_save', {
             fileName: this.$data.fileName,
             text: this.$data.text
         })
         .then(function(res){
             console.log(res);
         });
         
     }
  }
});

Editor.getList();

</script>
