<p>Edit</p>

<div id="edit_post_list">
</div>

<script>

var vue = new Vue({
  el: '#edit_post_list',
  template: '<div v-bind:style="constyle" >'+
        '<div>Posts: </div>'+
        '<div v-for="(post, index) in posts"><p>{{post}}</p></div>'+
    '</div>',
  data : {
     constyle:'background:red;width:150px;padding:5px;',
     posts : []
  },
  methods:{
  
     // get list of file names
     getList : function(){
        this.$http.get('post_list')
        .then(function(res){
          console.log(res);
          this.$data.posts = res.body.fileNames;
        });
     
     }
  }
});

vue.getList();

</script>
