<p>Edit</p>

<div id="edit_post_list">
</div>

<script>

var Editor = new Vue({
  el: '#edit_post_list',
  template: '<div v-bind:style="constyle" >'+
        '<div>Posts: </div>'+
        '<div v-for="(post, index) in posts"><p v-on:click="onPostLink" >{{post}}</p></div>'+
        '<textarea>{{ text }}</textarea>' +
    '</div>',
  data : {
     constyle:'background:red;width:150px;padding:5px;',
     posts : [],
     text: 'hi there'
  },
  methods:{
  
     // get list of file names
     getList : function(){
        this.$http.get('post_list')
        .then(function(res){
          console.log(res);
          this.$data.posts = res.body.fileNames;
        });
     },
     
     onPostLink : function(e){
     
        var url = '/post/' + e.target.innerText;
        
        this.$http.get(url)
        .then(function(res){
        
           console.log(res);
           this.$data.text = res.body;
        
        })
     
        console.log(url);
        console.log(this);
     }
  }
});

Editor.getList();

</script>
