<html>
  <head>
    <title>jsKey - <%= version %></title>
  </head>
  <body style="padding:0px;margin:0px;">
    <script src="/js/vuejs/2.6.10/vue.min.js" ></script>
    <script src="/js/vue-resource/1.5.1/vue-resource.min.js" ></script>
    <div id="header" style="background:#00bfbf;padding:10px;">
        <h1>jsKey - <%= version %></h1>
        <p><a href="/">root</a> | <a href="edit">edit</a></p>
    </div>
    <div id="layout" style="padding:10px;">
      <%- include(layout) %>
    </div>
    <div style="padding:10px;background:#005f5f;">
        <p>jskey is powered by node, vuejs, express, yargs, and more.</p>
        <p>layout: <%= layout %></p>
    </div>

  </body>
</html>
