<html>
  <head>
    <title>jsKey</title>
  </head>
  <body>
    <h1>jsKey</h1>
    <ul>
      <li>layout: <%= layout %></li>
    </ul>
    <script src="/js/vuejs/2.6.10/vue.min.js" ></script>
  </body>
</html>
