<p>kwdb</p>
<div id="kwdb-interface">
</div>

<script>

var vm = new Vue({
    
    el: '#kwdb-interface',
    template: '<div>' +
        '<input type="text" v-model="dbName"> <input v-on:click="createDatabase" type="button" value="create"><br>'+
        '<input type="text" v-model="keyword">' + 
            ' <input v-on:click="addKeyword" type="button" value="add keyword">' + 
            ' <input v-on:click="removeKeyword" type="button" value="remove keyword"><br>'+
        '<div><div v-for="kw in db.keywords" >{{kw.keyword}}</div></div>' +
    '</div>',
    data:{
        dbName: 'db',
        keyword: 'foo',
        db:{
           keywords: [{keyword:'foo'}]
        }
    },
    methods : {
    
        // get the full database
        getDatabase: function(){
            this.$http.get('/kwdb_get?dbName=' + this.$data.dbName)
            .then((res)=>{
               console.log(res);
               console.log(this);
               this.$data.db = res.body.db;
            });
        },
      
        // create a new database
        createDatabase: function(){
            this.$http.post('/kwdb_create', {
                dbName: this.$data.dbName
             })
             .then(function(res){
                 console.log(res);
             })
             .catch(function(e){
                 console.log(e);
             });
         },
        
        // add a keyword to the current database
        addKeyword: function(){
            this.$http.post('/kwdb_add', {
                dbName: this.$data.dbName,
                keyword: this.$data.keyword
             })
             .then(function(res){
                 console.log(res);
                 return this.getDatabase();
             })
             .catch(function(e){
                 console.log(e);
             });
         },
         
        // add a keyword to the current database
        removeKeyword: function(){
            this.$http.post('/kwdb_remove', {
                dbName: this.$data.dbName,
                keyword: this.$data.keyword
             })
             .then(function(res){
                 console.log(res);
                 return this.getDatabase();
             })
             .catch(function(e){
                 console.log(e);
             });
         }
         
         
      }
    
    });
    
vm.getDatabase();

</script>
