<p>kwdb</p>
<div id="kwdb-interface">
</div>

<script>

    new Vue({
    
      el: '#kwdb-interface',
      template: '<div><input type="text"><input type="button" value="add"><br></div>'
    
    });

</script>
